<!-- Author: peekok (Just4you) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="icon" sizes="192x192" href="img/favicon.ico" />

    <!--StyleSheet-->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!--Preloader 
    <div class="preloader">
        <img src="img/preloader.gif" alt="preloader" />
      </div>-->

    <!--Header-->
    <header class="header">
      <a href="/" class="logo">Deleviry<span class="yellow">Goo</span></a>

      <!--Navigation-->
      <nav class="navbar">
        <a href="home.html" class="btn">Home</a>
      </nav>

      <!--Hamburger-->
      <div class="hamburger">
        <img src="img/grid-outline.svg" alt="grid-outline" />
      </div>
    </header>
    <section class="home" id="home">
      <h1>Admin Dashboard</h1>
    </section>
    <!--Table that render the array data received from Express.js -->
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].email %></td>
          <td><%= data[i].phone %></td>
          <td><%= data[i].message %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <script src="JS/database.js"></script>
    <script src="JS/adminDashBoard.js"></script>
    <!-- Scripts -->
    <script src="JS/main.js"></script>
  </body>
</html>
